html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


body { background: silver;  font-family: 'Roboto', sans-serif; padding-top:70px; }
body.dashboard { background:url(../img/bg.gif); }

/*.wrap { width:960px; margin:0 auto; }*/
.wrap { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background:#fff; padding:20px; }

h1 { margin-bottom:15px; font-size:22px; }
h2 { margin-bottom:15px; font-size:18px; }
 

/* FROMS */
form label { margin-bottom:10px; font-weight: normal; }
.form-horizontal .control-label { text-align: left !important; }

.error { margin-bottom: 15px; }
.error p { color: #f00; }

footer { text-align: center; padding-top:10px; color: #333; font-size:14px; }
